<h2 class="text-center display-2">CARRITO</h2>
<p class="text-center">Revise los productos agregados y realize el checkout</p>


<div class="cart-container">
  <div class="cart" *ngFor="let ordProd of this.cart">

    <div class="order-product" style="width: 18rem;">
      <img src="{{ordProd.prod.urlImg}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ordProd.prod.nameProd}}</h5>
        <p class="card-text">{{ordProd.prod.description}}</p>
        <p class="card-text"><b>${{ordProd.prod.price}}</b></p>
        <div class="quantity-container">
          <button class="btn btn-secondary" (click)="subAmmount(ordProd)">-1</button>
          <p class="display-6 text-center">{{ordProd.quantity}}</p>
          <button class="btn btn-secondary" (click)="addAmmount(ordProd)">+1</button>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <h2>TOTAL: ${{total}}</h2>
  <button class=" btn btn-checkout"><b>COMPRAR</b></button>
</div>