<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">Química Aldea</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sobrenosotros">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/carrito">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pedidos" *ngIf="loginService.user?.type==0">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios" *ngIf="loginService.user?.type==0">Usuarios</a>
        </li>
        <hr>
        <li class="nav-item" *ngIf="loginService.user==null">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item" *ngIf="loginService.user!=null">
          <a class="nav-link" routerLink="/registrarse">Perfil</a>
        </li>

      </ul>
    </div>

  </div>
</nav>