.btn {
  background-color: #000;
  color: #fff;
  display: block;
  margin-top: .5rem;
}

.btn-agregar {
  margin: auto;
  width: 90%;
}

.btn-editar {
  background-color: #999;
}

.btn-editar {
  background-color: #f00;
}