<h2 class="text-center display-2">PRODUCTOS</h2>
<p class="text-center">Agregue los productos al carrito</p>


<div class="input-group mb-3 buscador">
  <input type="text" class="form-control" placeholder="Buscar Productos" aria-label="Buscar Productos"
    aria-describedby="basic-addon2" #searchBox>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="searchProd(searchBox)"><b>Buscar</b></button>
  </div>
</div>

<button class="btn btn-administrar" routerLink="/adminProductos"><b>Administrar Productos</b></button>



<div class="products-container">
  <div class="products" *ngFor="let prod of products">

    <div class="card">
      <img src="{{prod.urlImg}}" class="card-img-top object-fit-scale" alt="{{prod.nameProd}}">
      <div class="card-body">
        <h5 class="card-title">{{prod.nameProd}}</h5>
        <p class="card-text">{{prod.description}}</p>
        <p class="card-text"><b>${{prod.price}}</b></p>
        <button class="btn btn-agregar" (click)="this.addToCart(prod)"><b>AGREGAR AL CARRITO</b></button>
      </div>
    </div>

  </div>
</div>