<div class="input-group mb-3 buscador">
  <input type="text" class="form-control" placeholder="Buscar Productos" aria-label="Buscar Productos"
    aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button"><b>Buscar</b></button>
  </div>
</div>

<button class="btn btn-agregar" routerLink="/agregarProducto"><b>Agregar Productos</b></button>



<div class="products-container">
  <div class="products" *ngFor="let prod of products">

    <div class="card" style="width: 18rem;">
      <img src="{{prod.urlImg}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{prod.nameProd}}</h5>
        <p class="card-text">{{prod.description}}</p>
        <p class="card-text"><b>${{prod.price}}</b></p>
        <button class="btn btn-editar"><b>EDITAR</b></button>
        <button class="btn btn-eliminar" (click)="deleteProduct(prod)"><b>ELIMINAR</b></button>
        <button class="btn" (click)="this.addToCart(prod)"><b>AGREGAR AL CARRITO</b></button>


      </div>
    </div>

  </div>
</div>