.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.buscador {
  margin-top: 1rem;
  width: 90vw;
  margin: auto;

  input {
    margin-right: .5rem;
  }


}

.btn {
  background-color: #000;
  color: #fff;
  display: block;
  margin-top: .5rem;
}


.btn-administrar {
  display: block;
  width: 90vw;
  margin: auto;
}


.btn-agregar {
  margin: auto;
  width: 90%;
}